.sec-game {
  display: flex;
  height: 97vh;
  width: 100vw;
}

.div-game {
  align-self: center;
  display: flex;
}

.div-infos {
  display: flex;
  flex-direction: column;
  margin-left: 6em;
  margin-right: 10em;
}

.logo-game {
  align-self: center;
  height: 13.875em;
  margin-bottom: 2em;
  position: relative;
  width: 12.318em;
}

.div-category {
  align-self: center;
  background-color: rgb(0, 213, 226);
  border-radius: 100px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 2.813em;
  justify-content: center;
  margin-top: -2.5vh;
  width: 25.813em;
}

.category {
  align-self: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.div-question {
  align-self: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 17.875em;
  justify-content: space-between;
  width: 27.438em;
}

.question {
  align-self: center;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

.logo-trybe-game {
  align-self: center;
  height: 2.641em;
  margin-top: 2.25em;
  width: 2.313em;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 25vh;
  margin-top: 10em;
}

.btn-gray {
  background-color: white;
  border: 3px solid black;
  border-radius: 100px;
  height: 64px;
  width: 519px;
}

.btn-right {
  background-color: white;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 100px;
  height: 64px;
  width: 60vh;
}

.btn-wrong {
  background-color: white;
  border: 3px solid red;
  border-radius: 100px;
  height: 64px;
  width: 60vh;
}

.btn-next {
  background-color: rgb(47, 193, 140);
  border-radius: 5px;
  border-style: none;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 2.813em;
  text-transform: uppercase;
  width: 60vh;
}
